body {
    background-image: url(../../img/fundonovo.jpg);
}

@media (min-width: 992px) {
    .rounded-lg-3 {
        border-radius: .3rem;
    }
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

#navbar {
    background-color: rgba(58, 57, 57, 0.822);
}

.botao-personalizado {
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: Sans-serif;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
}

.botao-personalizado2 {
    border: 2px solid rgb(0, 0, 0);
    background-color: rgba(20, 236, 13, 0.849);
    color: rgb(0, 0, 0);
    font-family: Sans-serif;
    font-size: 20px;
    padding: 20px 30px;
    border-radius: 10px;
    text-decoration: none;
}

.botao-personalizado3 {
    border: 2px solid rgb(0, 0, 0);
    background-color: rgba(223, 12, 12, 0.849);
    color: rgb(0, 0, 0);
    font-family: Sans-serif;
    font-size: 20px;
    padding: 20px 30px;
    border-radius: 10px;
    text-decoration: none;
}

.botao-personalizado4 {
    margin-left: 15px;
    position: relative;
    align-items: center;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: Sans-serif;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 8px;
}

.valorprato {
    font-size: 60px;
    position: relative;
    color: green;
    align-items: left;
    margin-bottom: 35px;
}

.col-lg-6 {
    font-family: sans-serif;
    color: black;
}

#cartao {
    border: 1px solid rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.918);
    color: rgb(0, 0, 0);
    border-radius: 8px;
    height: 50%;
    left: auto;
}

#imagem {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 8px;
}

#titulo {
    margin-top: -80px;
    font-size: 90px;
    text-align: center;
}